<h1> You can type a new bookmark through the following form </h1>

<form action='/save_url' method='post'>
  Enter URL
    <input type="text" name = "url">
    <input type="submit" name="submit" value="Submit">
  </form>
