<h1> You can type a new bookmark through the following form </h1>

<form action='/save_url' method='post'>
    <input type="text" name = "url" placeholder='URL'>
    <input type="text" name = "title" placeholder='Title'/>
    <input type="submit" value="Submit">
  </form>
