<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" target="_blank">
        <%= bookmark.title %>
      </a>
      <form action="/""<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" />
      </form>
    </li>
  <% end %>
</ul>

<form action="/add_bookmarks" method="get">
  <input type="submit" value="Add Bookmarks"
  name="Add Bookmark" id="frm1_submit">
</form>
