<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>

<form action="/add_bookmarks" method="get">
  <input type="submit" value="Add Bookmarks"
  name="Add Bookmark" id="frm1_submit">
</form>

<form action="/index" method="delete">
  <input type="submit" value="Delete">
</form>
